.mySwiper {
  height: 123vh;
  background: linear-gradient(70deg, #55b7ff, #7e5aff);
}
.header {

  height: auto;
  @media (max-width: $tab) {
    padding: 16px 0;
  }
  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  &__titleit {
    padding-bottom: 20px;
  }
  &__containe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 53px;
  }

  &__nav {
    padding-top: 53px;
    display: flex;
    align-items: center;
    gap: 50px;
    padding-top: 5px;

    @media (max-width: $tab) {
      gap: 8px;
      position: relative;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    align-self: flex-start;

    @media (max-width: $tab) {
      display: none;
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 50%;
      left: 50%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 26px;
      transform: translate(-50%, -50%);
      background-color: beige;
      z-index: 1;
    }
  }

  &__link {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: $color-white;
    position: relative;
    display: flex;
    align-items: center;
    &:hover {
      &::after {
        width: 80%;
      }
    }

    &--active {
      &::after {
        width: 80%;
      }
    }

    @media (max-width: $tab) {
      &::after {
        display: none;
      }
    }
  }

  &__serch {
    display: flex;
    gap: 20px;
    height: 40px;
    width: 40px;
    cursor: pointer;
   margin-top: -10px;
  }
  &__svg {
    display: flex;
    justify-content: center;
    width: 100%;
    cursor: pointer;
  }

  &__gam-btn {
    display: none;

    @media (max-width: $tab) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 7px;
      width: 32px;
      height: 32px;
      cursor: pointer;
      order: 5;
    }
  }

  &__gam-line {
    @media (max-width: $tab) {
      width: 24px;
      height: 1px;
      background: $color-black;
    }
  }

  .gam-btn {
    z-index: 10;
  }

  .gam-btn-input {
    display: none;

    &:checked {
      ~ .header__menu {
        display: flex;
      }

      // ~.gam-btn {
      //     background-color: red;
      // }
    }
  }
}

// @media (max-width: $tab) {
//     .header {
//         padding: 16px 0 0;

//         &__menu {
//             display: none;
//         }
//     }
// }
